.star {
    width: fit-content !important;
}

.star::before,
.star::after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: black;
    width: 6rem;
    top: 50%;
    right: 50px;
}

.star::before {
    left: 50px;
}

.layer {
    background-color: #1abc9c;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all 0.4s 0.1s;
}

.layer:hover {
    opacity: 0.9;
    cursor: pointer;
}

.iconFont {
    font-size: 6em;
}